* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /* set fot entire page content for uniformity*/
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* maybe too many back up font-families?*/
}
/*Header Starts*/

header { /*header reserve for its general box*/
    padding: 20px;
    background-color: #2a607c;
}
header h1 { /* h1 reserve for specific texts*/
    display: inline-block;
    font-size: 48px;

}
header h1 a { /* both header and nav has anchor elements that uses this styling, no need to specify*/
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.title-text-seo { /*unecessary element ID, class followed by . is enough*/ 
    color: #d9dcd6;
}
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2px;
}
header nav ul li a:hover {
    background: #ffffff;
    color:#0072bb;
    border-radius: 3px;
    text-shadow: none;
}
/*Hero Starts*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*utility class*/
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}

/*Contents starts*/
.contents {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
.content{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; /*deleted repeatative code to make it DRY*/ /*order of apparence, group contents next to each other*/
}
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.content img {
    max-height: 200px;
}

/*Benefits section starts*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
    /*DRY*/
}
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Footer starts*/
.footer {
    padding: 30px;
    clear: both; /*deleted font-family, DRY */
    text-align: center;
}
.footer h2 {
    font-size: 20px;
}
